<div class="wrapper">
    <section>
      <div id="title">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
    <span class="left"><a href="/">home</a> 
    <tab>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/whoami">whoami</a> 
    <tab>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/macOS-forensics">macOS</a> 
    <tab>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/history">history</a>
    <tab>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/tags">tags</a>
    <tab>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/references">references</a>
    <tab>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/feed.xml">rss</a>
  </span>
  <hr>
  <span class="credits left">Project maintained by <a href="/whoami">7RedViolin</a>&nbsp;&nbsp;&nbsp;&nbsp;Follow: <a href="{{ site.github.owner_url }}">GitHub</a> / <a href="https://twitter.com/7RedViolin">Twitter</a></span>
  <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></span>
  </div>